.centered {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.button-row {
    width: 100%;
}

.button-row .mat-button-base {
    margin: 1rem 0;
}

.spinner {
    margin: 2rem auto;
}

.search-name-form-full-width {
    width: 100%;
}
