<div class="centered">
    <mat-nav-list>
        <div class="nav-item">
            <mat-card class="nav-entry mat-elevation-z6">
                <mat-card-content>
                    <a mat-list-item [routerLink]="['/', PathSegment.ENTRIES, Category.CONDITION]">
                        <span class="material-icons">car_crash</span>
                        <span class="nav-text">Verkehrsbedingungen</span>
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="nav-item">
            <mat-card class="nav-entry mat-elevation-z6">
                <mat-card-content>
                    <a mat-list-item [routerLink]="['/', PathSegment.ENTRIES, Category.ENV]">
                        <span class="material-icons">ac_unit</span>
                        <span class="nav-text">Strassenzustand</span>
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="nav-item">
            <mat-card class="nav-entry mat-elevation-z6">
                <mat-card-content>
                    <a mat-list-item [routerLink]="['/', PathSegment.ENTRIES, Category.PASS]">
                        <span class="material-icons">terrain</span>
                        <span class="nav-text">Pässe</span>
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="nav-item">
            <mat-card class="nav-entry mat-elevation-z6">
                <mat-card-content>
                    <a mat-list-item [routerLink]="['/', PathSegment.ENTRIES, Category.SHUTTLE]">
                        <span class="material-icons">railway_alert</span>
                        <span class="nav-text">Autoverlad</span>
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-nav-list>
</div>