<mat-card class="entry-detail mat-elevation-z6">
    <mat-card-title>{{ entity.Name }}</mat-card-title>
    <mat-card-subtitle>{{ entity.Dic.RoadNo }} - {{ entity.Dic.LastUpdated }}</mat-card-subtitle>
    <mat-card-content>
        <p>{{ entity.Dic.Description }}</p>
        <a href="https://www.google.com/maps/@?api=1&map_action=map&center={{ entity.Pos.Lat }}%2C{{ entity.Pos.Lng}}&zoom=14&basemap=satellite&layer=traffic"
            target="_blank">Show in Maps</a>
    </mat-card-content>
</mat-card>